@model IEnumerable<OnLineClothing.ViewModels.ItemViewModel>

@{
    
    <table class="item-display-table">
        @foreach (var item in Model)
        {
            <tr class="item-display">
                <td class="item-picture">
                    <img alt="@item.item.Image" src="~/Images/@item.category.Category/@item.item.Image" />
                </td>
                <td class="item-description">
                    <h2>@item.item.Title - $@item.item.Price</h2>
                    <p>@item.item.ItemDescription</p>
                    <div class="add-to-cart-button">
                        <img src="~/Images/Utility/addtocart.png" alt="Add To Cart" />
                    </div>
                </td>
            </tr>
        }
    </table>
}

